body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif; 
}

.flex-container{
    display: flex;
    flex-direction: row;
}

.width-margin {
    width: 80%;
    margin: 0 auto;
}

.span-color{
    color:orange;
}

.btn-design{
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    background-color: orange;
}


/* first section */

.first-left-heading{
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
 }

.heading-ver-line{
    padding: 0px 0px 35px 5px;
    border-left: 3px solid red;
    height: 90px; 
}

.first-left-side {
    width: 50%;
    padding: 25px 50px;
}

.first-para-section{
    margin-top: 20px;
    font-weight: 400;
   
}

.first-img-rs img{
    width: 35%;
    padding-left: 35%;
}

#scroll-to-explore{
    font-size: small;
    padding-top: 25px;
}



/* Second section */
.second-section-title {
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;     
}
.box-body {
    text-align: justify;
    border-radius: 10px;
    height: 350px;
    width: 30%;
    margin: 10px;
  }

.second-mission{
    background-color: rgb(233, 252, 250);
}

.second-vision{
    background-color: rgb(245, 222, 244);
}
.second-goals{
    background-color: rgb(255, 244, 221);
}

.second-mission-img img{
    width: 25%;
}

.second-vision-img img{
    width: 25%;
}

.second-goals-img img{
    width: 25%;
}

.second-mission-para{
    margin: 0px 20px ;
}

.second-vision-para{
    margin: 0px 20px ;
}


.second-goals-para{
    margin: 0px 20px ;
}



/* third section */


.third-img-ls img{
    width: 60%;
    margin: 20px 180px;
    padding-left: 2%;
   
}

.third-right-side{
    width: 100%;
    padding-right: 25%;

}

.third-right-heading{
    font-weight: 900;
    font-size: 20px;
    font-family: 'Roboto', sans-serif; 
    padding: 0px 10px; 
}

.third-para-section{
    padding: 0px 10px;
}

.third-left-side{
  background-image: url(./images/shapes/shape-1.png);
  background-position: 20% 50%;
  background-repeat: no-repeat;
  background-size: 270px;
  
}



/* fourth section */

.fourth-section{
    margin-bottom: 25%;
}
.fourth-img-rs img{
    width: 90%;
    margin: 180px 20px;
    padding-left: 2%;
    
}

.fourth-left-heading{
    font-weight: 900;
    font-size: 20px;
    font-family: 'Roboto', sans-serif; 
    padding-left: 25%;
    padding-top: 20%; 
}

.fourth-para-section{
    padding-left: 25%;
}

.fourth-right-side{
    width: 100%;
    padding-right: 25%;
}
.fourth-right-side{
    background-image: url(./images/shapes/shape-1.png);
    background-position: 45% 85%;
    background-repeat: no-repeat;
    background-size: 270px;
    
  }




/* footer section */
.footer {
    height: 120px;
    width: 100%;
    padding-top: 2px;
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: black;
    font-family: 'The Nautigal', cursive;
    
  }
 .footer p{
     font-family: sans-serif;
     font-size: small;
     font-weight: 100;

     
 } 
  
 

