body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif; 
}

.flex-container{
    display: flex;
    flex-direction: row;
}

.width-margin {
    width: 80%;
    margin: 0 auto;
}

.span-color{
    color:orange;
}

.first-para-section{
    margin-top: 30px;
    font-weight: 400;
   
}

.heading-ver-line{
    padding: 0px 0px 35px 5px;
    border-left: 3px solid red;
    height: 75px; 

}

.first-left-heading{
   font-family: 'Abril Fatface', cursive;
   font-size: 20px;
}

.first-left-side {
    width: 50%;
    padding: 25px 50px;
}

.first-img-rs img{
    width: 35%;
    padding-left: 30%;
}

#scroll-to-explore{
    font-size: small;
}

.explore-btn{
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    background-color: orange;
}

#scroll-to-explore{
    padding-top: 25px;
}

.second-section-title {
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;     
}
.second-mission{
    background-color: rgb(233, 252, 250);
    border-radius: 10px;
    margin: 0px 10px;

}

.second-vision{
    background-color: rgb(233, 252, 250);
    border-radius: 10px;
    margin: 0px 10px;

}
.second-goals{
    background-color: rgb(233, 252, 250);
    border-radius: 10px;
    margin: 0px 10px;
}

.second-mission-img img{
    width: 50%;
}

.second-vision-img img{
    width: 50%;
}

.second-goals-img img{
    width: 50%;
}

.second-mission-para{
    margin: 0px 20px ;
}

.second-vision-para{
    margin: 0px 20px ;
}


.second-goals-para{
    margin: 0px 20px ;
}

.third-section{


}


